<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FIRAnalyticsDebugEnabled</key>
	<false/>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>387354230696-37v3q4mr6jh1m8uq4iqjggiarrvlb0kr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.387354230696-37v3q4mr6jh1m8uq4iqjggiarrvlb0kr</string>
	<key>API_KEY</key>
	<string>AIzaSyCA-ZXkHT6-qSO0A2l0e3BAt4-Hk-2QT04</string>
	<key>GCM_SENDER_ID</key>
	<string>387354230696</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.andywong.ChatChat</string>
	<key>PROJECT_ID</key>
	<string>chatapptutorial-1e1e9</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapptutorial-1e1e9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:387354230696:ios:70cb4138ce35041e</string>
	<key>DATABASE_URL</key>
	<string>https://chatapptutorial-1e1e9.firebaseio.com</string>
</dict>
</plist>
